<!DOCTYPE html>
<htmlc xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .profile{
        width:64px;
        height:64px;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
</style>
<body>

    <div>
        
    </div>
    <tr th:each="kart: ${karts}">
        <image class="profile" th:src="${kart.image}" />
        
    </tr>
    <span th:if="${error}" th:text="${error}"></span>
    
</body>
</html>